# vi: filetype=sh

################################################################################
## Variables to control how the header is generated
################################################################################

# COPYRIGHT_SOFTWARE="gekkofs"
# COPYRIGHT_DESCRIPTION="an ephemeral distributed file system for HPC applications"
COPYRIGHT_YEARS="{:bsc => [2018, 2021], :jgu => [2015, 2021]}"
COPYRIGHT_LICENSE="gekkofs-posix-template.erb"
COPYRIGHT_SYNTAX="gekkofs-syntax.yml"
COPYRIGHT_WORD_WRAP=80


################################################################################
## Variables to control which files are considered 
## N.B: these are **glob patterns**, NOT regular expressions
################################################################################

INCLUDE_PATTERNS=(
    "*.c"
    "*.h"
    "*.cpp"
    "*.hpp"
    "*.hpp.in"
    "*.am"
    "*.ac"
    "*.py"
    "*.sh"
    "*.mk"
    "*CMakeLists.txt"
    "*.cmake"
    "*.yml"
    "*.erb"
    "*.ini.in"
    "*.py.in"
    "*Dockerfile"
)

EXCLUDE_PATTERNS=(
    "*.git"
    "*.gitlab-ci.yml"
    "*build*"
    "*external?*"
    "*spdlog*"
    "*ctypesgen*"
    "./tests/catch.hpp"
    "*agios.conf"
    "*.diff"
    "*.erb"
    "*.coverage-exclusions"
    "*.project.config"
)
